src/main/app/test-dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="18081" doc:name="HTTP Listener Configuration"/>
    <flow name="test-dataweaveFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/data" doc:name="HTTP"/>
        <set-payload doc:name="Set Payload" value="{
&quot;aa&quot;: &quot;Mr. X&quot;,
&quot;ab&quot;: &quot;12345&quot;,
&quot;ba&quot;: &quot;Mr. Y&quot;,
&quot;bb&quot;: &quot;56789&quot;
}"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="ce6f1f4b-7ce9-4190-b71b-5dbad4b872be">
            <dw:input-payload doc:sample="sample1.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	addr: [{
		a: payload.aa,
		b: payload.ab
	},
	{
		a: payload.ba,
		b: payload.bb
	}
	]
	
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <sub-flow name="test-dataweavemaptest">
        <dw:transform-message doc:name="Transform Message" metadata:id="7cc1245e-e7f1-4e95-b299-dcf7cbf8fb9d">
            <dw:input-payload doc:sample="mapTest.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	users: payload.users map ((name, nameIdx) -> 
		user: {
			idx: nameIdx,
			str: upper name
		}
	)
}]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
</mule>
